  <div class="card text-center" id="<%= dom_id album %>">
    <div class="card-body bg-light">
      <h5 class="card-title"><%= album.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Players</h6>
      
       
      <%= render "players/name", alb: album%> 
        <br>
        <%= link_to "Show this album", album, class:"btn btn-info" %>
        <%= link_to "Edit this album", edit_album_path(album), class:"btn btn-success" %> 
        <%= button_to "Destroy this album", album, method: :delete, class:"btn btn-link" %>
      

    </div>
  </div>
  

 <br>
