<%= bootstrap_form_for(player) do |form| %>
  <% if player.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <main class="container col-lg-6 my-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h4 class="text-center">Player</h4>
        </div>
        <div class="row my-2">

      <%= form.text_field :name %>
  
      <div class="mb-3 d-grid gap-2">
        <%= form.submit class:"btn btn-success" %>
      </div>
        </div>
    </div>
  </main>

<% end %>
