<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

    </div>
  <% end %>

  <%= form.label :"Player Name" %> 
  <%= form.text_field :name %><br>

  <% f.fields_for :associations do |assoc_form| %>
  <%= render :partial => 'albums', :locals => {:f => assoc_form} %>       
  <%= create_association_link, "Create New Player and New Album" %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
